<h1>Contestants</h1>

<section id="contestantProjects">
  <% @contestants.each do |contestant| %>
    <p>Name: <%= contestant.name %></p>
    Affiliated projects:
    <%= contestant.projects.map(&:name).join(", ") %>
  <% end %>
</section>
