<h1>Project</h1>

<p>Project Name: <%= @project.name %></p>
<p>Material: <%= @project.material %></p>
<p>Theme: <%= @project.challenge.theme %></p>
<p>Number of Contestants: <%= @contestant_count %></p>
